<h1>Awards Homepage</h1>
<p><strong>Click on a year to start browsing awards!</strong></p>
<div class="award-years-list-container">
     <% @year_sorted_awards.each do |year| %>
        <a href="awards/years/<%= year %>" class="btn btn-primary"><%= year %><a>
    <% end %>
</div>