<% if @award.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@award.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>

    <ul>
    <% @award.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %> 
<h1 class="awards-action-header">Create New Awards</h1>
<div class="awards-action-container">
    <div class="awards-action-items">
    <%= render 'form' %>
    </div>
</div>