<h1 id="welcome-text">Welcome to Awards Central</h1>
<p class="description-text" id="welcome-description"><strong>Create your own movie awards for any year!</strong></p>
<div class="welcome-button-container">
    <div class="welcome-button" id="login">
        <h2 class ="welcome-button-text"><a href="/login">Login</h2>
    </div>
    <div class="welcome-button" id="signup">
        <h2 class="welcome-button-text"><%= link_to "Signup", new_user_path %></h2>
    </div>
</div>
