<% if @awards_name_present == false %>
<h1><%= link_to "You must first create your own Awards Name!", "/users/#{@user.id}/edit" %></h1>
<% end %>
<h1 id="welcome-text">Welcome to Awards Central</h1>
<p class="description-text" id="welcome-description"><strong>Create your own movie awards for any year!</strong></p>
<div class="welcome-button-container">
    <div class="welcome-button" id="login">
        <h2 class ="welcome-button-text"><a href="/users/sign_in">Login</h2>
    </div><br>
    <div class="welcome-button" id="signup">
        <h2 class="welcome-button-text"><a href="/users/sign_up">Sign up</a><h2>
    </div>
</div>
